<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="t1" connectionString="Data Source=192.168.1.7,1433;Initial Catalog=Acounting;Persist Security Info=True;"
      providerName="System.Data.SqlClient" />
    <add name="t3"
      connectionString="Data Source=DESKTOP-2E60975;Initial Catalog=Acounting;Persist Security Info=True;"
      providerName="System.Data.SqlClient" />
    <add name="t2"
  connectionString="Data Source=irancell46005.myiphost.com;Initial Catalog=Acounting;Persist Security Info=True;"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>